.container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  height: 100px;
}

.social {
  display: flex;
  gap: 10px;
  position: absolute; /* Position the social icons absolutely */
  left: 10px; /* Adjust as needed */
}

.logo {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute; /* Position the links absolutely */
  right: 10px; /* Adjust as needed */
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  .links{
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
